body{
  font-family: Helvetica, Arial;
}

.clearfix{
  float: none;
  clear: both;
  text-decoration: none;
  list-style: none;
}

#content{
  width: 80%;
  min-height: 500px;
  margin: 0px auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
  background: #eee;
}

header{
  padding: 15px;
  background: #a74a30;

}

header .title-subtitle{
  float: left;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  padding: 20px;
  margin-left: -65px;
  padding-left: 65px;
}

header h1, header p{
  margin: 0px;
  margin-left: 15px;
}

header h1 a{
  text-decoration: none;
  color: white;
}

header h1 a:hover{
  text-decoration: underline;
  color: white;
}

header p{
  color: #ddd;
}

header #logo{
  width: 65px;
  display: block;
  float: left;
  margin-top: 10px;
}

.btn-add-album{
  display: block;
  padding: 10px;
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  background: #eee;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0px, 0px, 5px, gray;
  color: #666;
  text-decoration: none;
  transition: all 300ms;
}

.btn-add-album:hover{
  background:white;
  color: #444;
}

.main{
  padding: 20px;
}

#albums-list{
  padding: 0px;
  margin: 0px;
}

.album-item{
  list-style: none;
  border: 1px solid #ddd;
  float:left;
  width: 95%;
  height: 120px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: gray;
  background: white;
  margin: 10px;
}

.album-item h4{
  color: #444;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}

.album-item .url{
  margin: 0px;
  padding: 0px;
  height: 45px;
  overflow: hidden;
}

.album-item .content-data{
  float: left;
  margin-left: 20px;
}

.btn{
  font-size: 13px;
  border: 1px solid #ccc;
  border-color: #1976D2;
  border-radius: 4px;
  box-shadow: 0px, 0px, 5px,#ddd;
  padding: 5px;
  text-decoration: none;
  color: white;
  background: #0074D9;
  cursor: pointer;
  margin-left: 5px;
}

.btn-editar{
  background: #0a0;
  border-color: #59a600;
}

.btn-eliminar{
  background: #e23237;
  border-color: #f54747;
}

.btn-default{
  background: #eaa615;
  border-color: #cc941c;
  color: white;
  margin-left: 0px;
}

.album-box{
  margin-left: 25px;
  background: white;
  border: 1px solid #ddd;
  width: 90%;
  min-height: 150px;
  margin-top: 20px;
  padding-top: 20px;
  padding: 20px;
}

.loading{
  margin: 25px;
}


footer{
  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
  color: grey;
}

.seguro{
  position: absolute;
  margin-top: -41px;
  background: white;
  width: 333px;
  height: 45px;
  text-align: left;
  padding-top: 10px;
}